@import '../_mixins.scss';

body.code {
  --code-gutter-width: 4rem;
}

body.code .file-header {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: var(--gap);
  padding: var(--gap) 0;

  h1 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
  }

  tt {
    background: none;
    padding: 0;
  }
}

body.code .code-body {
  background: var(--bg2-color);
  border-radius: var(--mono-border-radius);
  display: grid;
  grid-template-columns: minmax(100%, max-content);
  overflow-x: auto;
  overscroll-behavior-x: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body.code .code-scrollbar {
  position: sticky;
  bottom: 0;
  overflow-x: auto;
  overscroll-behavior-x: none;
  z-index: 10;

  > div {
    height: 1px;
  }
}

body.code .code-body > pre {
  margin: 0;
}

body.code pre {
  display: block;
  padding: 0;
  overflow: visible;
}

body.code pre .code-row {
  display: grid;
  grid-template-columns: var(--code-gutter-width) 1fr;
}

body.code pre .line-number {
  cursor: pointer;
  display: block;
  padding: 0 0.75em 0 0.75em;
  text-align: right;
  @include user-select(none);
  color: var(--fg2-color);
  font-family: var(--mono-font);
  text-decoration: none;
  position: sticky;
  left: 0;
  z-index: 1;
  background: var(--bg2-color);
  border-right: 1px solid var(--fg2-color);
  margin-right: var(--gap);

  &:hover {
    color: var(--fg-color);
  }

  &:target {
    background: var(--fg2-color);
    color: var(--bg-color);
  }

  &:focus-visible {
    outline: none;
  }
}

body.code .code-prose {
  background-color: var(--bg2-color);
  display: grid;
  grid-template-columns: var(--code-gutter-width) 1fr;

  .code-prose-gutter {
    position: sticky;
    left: 0;
    z-index: 1;
    background: var(--bg2-color);
    border-right: 1px solid var(--fg2-color);
    margin-right: var(--gap);
  }

  .code-prose-content {
    color: var(--fg2-color);
    min-width: 0;
    position: relative;
    padding: var(--gap) var(--gap) var(--gap)
      calc(var(--prose-indent, 0ch) - 0.2em);

    *:last-of-type {
      margin-bottom: 0;
    }

    ol,
    ul,
    li {
      margin: 0;
    }

    dfn {
      color: inherit;
    }
  }
}

body.code .code-search-index {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
