body.code .file-header {
  h1 {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
  }
}

body.code .code-body {
  display: grid;
  grid-template-columns: minmax(100%, max-content);
  overflow-x: auto;
  overscroll-behavior-x: none;
  scrollbar-width: none;
  background: var(--bg2-color);
  border-radius: var(--border-radius);
  clip-path: inset(0 round var(--border-radius));
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  &::-webkit-scrollbar {
    display: none;
  }
}

body.code .code-scrollbar {
  position: sticky;
  bottom: 0;
  z-index: 10;
  overflow-x: auto;
  overscroll-behavior-x: none;

  > div {
    height: 1px;
  }
}

body.code .code-body > pre {
  margin: 0;
}

body.code .code-body > pre:first-child {
  *:first-child {
    .line-number,
    code {
      padding-top: 0.5rem;
    }
  }
}

body.code .code-body > pre:last-child {
  *:last-child {
    .line-number,
    code {
      padding-bottom: 0.5rem;
    }
  }
}

body.code pre {
  display: block;
  padding: 0;
  overflow: visible;
}

body.code pre code {
  padding-right: var(--gap);
}

body.code .code-prose {
  display: grid;
  grid-template-columns: var(--code-gutter-width) 1fr;
  background-color: var(--bg2-color);

  .code-prose-gutter {
    position: sticky;
    left: 0;
    z-index: 1;
    margin-right: var(--gap);
    background: var(--bg2-color);
    border-right: 1px solid var(--fg2-color);
  }

  .code-prose-content {
    position: relative;
    min-width: 0;
    padding: var(--gap) var(--gap) var(--gap)
      calc(var(--prose-indent, 0ch) - 0.2em);
    color: var(--fg2-color);

    *:first-of-type {
      margin-top: 0;
    }

    *:last-of-type {
      margin-bottom: 0;
    }

    ol,
    ul,
    li {
      margin: 0;
    }

    dfn {
      color: inherit;
    }

    code {
      padding: inherit;
      background: inherit;
    }
  }
}

body.code .code-search-index {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
