@import '../_mixins.scss';

.footnotes {
  margin-top: calc(var(--thematic-break-margin) / 2);
  padding-top: 32px;
  border-top: 1px solid var(--fg-color);
  font-size: 0.9em;
}

.footnotes .title {
  @include user-select(none);
  font-weight: 700;
  font-size: larger;
}

.footnotes p {
  margin: 0;
}

.footnotes li {
  margin-bottom: 8px;
}

a.footnote-ref {
  vertical-align: super;
}

.footnotes li, a.footnote-ref {
  border-radius: var(--border-radius);
}

a.footnote-ref,
.footnotes .footnote-backref {
  display: inline-block;
  @include user-select(none);
}
