.to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  height: 100%;
  pointer-events: none;
}

.to-top a {
  pointer-events: none;
  opacity: 0;

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 0.25s;
  }
}

.to-top a.is-visible {
  pointer-events: auto;
  opacity: 1;
}

@media (max-width: 350px) {
  .to-top {
    display: none;
  }
}
