.back-to-top {
  position: fixed;
  top: calc(var(--header-collapsed-height) + 32px);
  left: 0;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.back-to-top button {
  pointer-events: all;
  backdrop-filter: blur(10px);
  background: var(--bg-color-translucent);
  box-shadow: var(--box-shadow);
  transform: translateY(-300px) scaleX(0%);
  z-index: 100;
}

@media (prefers-color-scheme: dark) {
  .back-to-top button {
    box-shadow: 0 3px 8px hsl(20deg 66% 8% / 70%);
  }
}

.back-to-top button.is-hovering {
  transform: translateY(0) scaleX(100%);
}

@media (hover: hover) {
  .back-to-top button.is-hovering:hover {
    background: var(--bg2-color);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .back-to-top button {
    transition: transform 1s ease-out;
  }
}

@media (max-width: 1200px) {
  .back-to-top button {
  }
}
