:root {
  --thematic-break-margin: 300px;
}

hr {
  border: none;
  height: var(--thematic-break-margin);
  margin: var(--section-padding) 0;
  padding-top: 64px;
  border: none;
  border-radius: var(--border-radius);
  text-align: center;
  letter-spacing: -2px;
  line-height: 13px;
  color: var(--fg2-color);
  background: linear-gradient(
    160deg,
    var(--bg2-color) 0%,
    var(--bg-color) 50%,
    var(--bg-color) 100%
  );
}

hr::after {
  content: attr(data-grid);
  white-space: pre;
}
