@use '../mixins' as *;

.question {
  margin-bottom: 2rem;
}

.question-q,
.question-a {
  display: flex;
  gap: 0.5em;
  align-items: flex-start;
}

.question-q {
  margin-bottom: 0.5em;
}

.question-label,
.question-a-label {
  flex-shrink: 0;
  margin: 0;
  font-weight: 700;
  color: var(--theme-color-text);

  @include user-select(none);
}

.question-q > span:last-child {
  font-weight: var(--font-weight);
  color: var(--fg-color);
}

.question-a-body {
  flex: 1;
  cursor: pointer;

  @include user-select(none);
}

.question-a-body:focus-visible {
  outline: 2px solid var(--theme-color);
  outline-offset: -2px;
}

.question-a-body[data-revealed] {
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

.question-a-body > *:first-child {
  margin-top: 0;
}

.question-a-body > *:last-child {
  margin-bottom: 0;
}

.question-a-body > *,
.question-a-body > * * {
  @media (prefers-reduced-motion: no-preference) {
    transition:
      color 0.25s,
      background-color 0.25s,
      border-color 0.25s,
      box-shadow 0.25s;
  }
}

.question-a-body:not([data-revealed]) > * {
  color: transparent;
  pointer-events: none;
  background-color: var(--bg2-color);
  border-color: transparent;
  box-shadow: none;
}

.question-a-body:not([data-revealed]) > * * {
  color: transparent;
  background-color: var(--bg2-color);
  border-color: transparent;
  box-shadow: none;
}

.question-a-body::after {
  display: block;
  font-size: var(--font-size-small);
  font-style: italic;
  color: var(--fg2-color);
  text-align: center;
  pointer-events: none;
  content: 'Click to reveal';

  @media (prefers-reduced-motion: no-preference) {
    transition: opacity 0.25s;
  }
}

.question-a-body[data-revealed]::after {
  opacity: 0;
}

@media (hover: none) {
  .question-a-body::after {
    content: 'Tap to reveal';
  }
}

.question-a-body[data-revealed] {
  cursor: unset;

  @include user-select(text);
}

@media print {
  .question-a-body {
    cursor: default;

    @include user-select(text);

    &:not([data-revealed]) > * {
      color: inherit;
      pointer-events: auto;
      background-color: transparent;
    }

    &:not([data-revealed]) > * * {
      color: inherit;
      background-color: transparent;
    }

    &::after {
      display: none;
    }
  }
}
