@import '../_mixins.scss';

:root {
  --header-collapsed-height: 45px;
}

header {
  backdrop-filter: var(--backdrop-filter);
  background: var(--bg-color-translucent);

  width: 100%;
  position: fixed;
  top: 0;

  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr;

  view-transition-name: site-header;
}

header details summary {
  display: flex;
  align-items: center;
  height: var(--header-collapsed-height);
  padding: 0;
  list-style-type: none;
  cursor: pointer;
  position: relative;
  container-type: inline-size;

  @media (hover: hover) {
    &:hover {
      color: inherit;
    }
  }

  &:focus-visible {
    outline-offset: -2px;
  }
}

header nav {
  display: flex;
  flex-wrap: wrap;
  @include user-select(none);
  gap: var(--gap);
  margin: var(--gap);
}

header nav div {
  flex: 1 1 150px;
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
}

header nav ul li {
  margin: 0;
}

header nav a {
  border: none;
  display: inline;
  color: var(--fg-color);
  text-decoration: none;
}

@media (hover: hover) {
  header nav a {
    &:hover {
      color: var(--fg2-color);
    }

    &:active {
      color: var(--link-active-color);
    }
  }
}

header nav a.external {
  border: none;
}

@media only screen and (min-width: 740px) {
  header details nav {
    min-height: 100px;
  }
}

header nav div > p {
  font-style: italic;
  @include user-select(none);
  border-bottom: 1px solid var(--fg-color);
  padding-bottom: 2px;
}

header details summary::-webkit-details-marker {
  display: none;
}

header details summary::marker {
  content: '';
}

header summary::after {
  order: -1;
  height: 24px;
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><polyline points='9 18 15 12 9 6' stroke='hsl(20deg 8% 8%)' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  margin-left: var(--gap);
  margin-right: 8px;
}

@media (prefers-color-scheme: dark) {
  header summary::after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><polyline points='9 18 15 12 9 6' stroke='hsl(20deg 20% 90%)' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  }
}

@media (hover: hover) {
  header details summary:hover:not(:has(.results-container:hover)) {
    background: var(--bg2-color);
  }

  header:has(details[open]):hover {
    background: var(--bg-color-translucent);
  }
}

header details[open] summary::after {
  transform: rotate(90deg);
}

header .content {
  position: relative;
}

header summary .logo {
  flex: 0 0 auto;
  color: var(--text-on-theme);
  background: var(--theme-color);
  padding: 1px 6px;
  margin: 0 8px 0 0;
  font-size: var(--font-size-smaller);
  font-weight: 600;
  pointer-events: none;
}

header summary .site-title {
  flex: 1 1 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
  font-weight: 500;
  pointer-events: none;
  margin: 0 8px 0 0;
}

@container (max-width: 520px) {
  header summary .site-title {
    display: none;
  }
}

header summary .to-top-container {
  display: none;
  align-items: center;
  height: var(--header-collapsed-height);
  pointer-events: none;
  white-space: nowrap;

  &:has(.is-visible) {
    display: flex;
    pointer-events: auto;
  }
}

header summary .search-controls {
  margin-left: auto;
  pointer-events: auto;
  display: flex;
  align-items: center;
  height: var(--header-collapsed-height);
  padding: 0 var(--gap);
  min-width: 0;

  input.search {
    width: 180px;

    @container (max-width: 280px) {
      display: none;
    }
  }
}

header .results-container {
  position: absolute;
  top: var(--header-collapsed-height);
  left: 0;
  right: 0;
  box-sizing: border-box;
  max-width: 640px;
  margin: 0 auto;
  padding: var(--gap);
  pointer-events: none;
  z-index: 1000;

  @container (max-width: 260px) {
    display: none;
  }
}

header ol {
  padding: 0;
  flex: 1;
  min-height: 0;
  overflow-y: auto;

  .excerpt {
    line-height: 2.5ex;
    height: 5ex;
  }
}
