@import '../_mixins.scss';

:root {
  --header-collapsed-height: 45px;
  --header-font-size: 18px;
}

header {
  backdrop-filter: blur(10px);
  background: var(--bg-color-translucent);

  width: 100%;
  position: fixed;
  top: 0;

  overflow: hidden;
  z-index: 1000;

  display: grid;
  grid-template-columns: 1fr;

  font-size: var(--header-font-size);

  view-transition-name: site-header;
}

header details summary {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--header-collapsed-height);
  padding: 0;
  list-style-type: none;
  cursor: pointer;
}

header.is-frozen details summary {
  cursor: default;
}

@media (hover: hover) {
  header details summary:hover {
    color: inherit;
  }
}

header nav {
  display: grid;
  @include user-select(none);
  gap: var(--gap);
  grid-template-columns: 1fr 1fr;
  margin: var(--gap);
}

@media (prefers-color-scheme: dark) {
  header {
  }
}

header nav ul {
  list-style-type: none;
  padding: 0;
  margin: 8px 0 0 0;
}

header nav li.current {
  list-style-type: disclosure-closed;
}

header nav a {
  border: none;
  display: block;
  height: 100%;
  width: 100%;
  color: var(--fg-color);
}

@media (hover: hover) {
  header nav a:hover {
    border: none;
    color: var(--fg2-color);
  }
}

header nav a.external {
  text-decoration: none;
  border: none;
}

header nav a.disabled {
  color: var(--fg-color-translucent);
  cursor: default;
}

.current-heading {
}

@media only screen and (min-width: 640px) {
  header details nav {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: 100px;
  }
}

header nav div > p {
  font-style: italic;
  @include user-select(none);
  border-bottom: 1px solid var(--fg-color);
  padding-bottom: 2px;
}

header details summary::-webkit-details-marker {
  display: none;
}

header details summary::marker {
  content: '';
}

header details {
}

header summary::after {
  height: 24px;
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><polyline points='6 9 12 15 18 9' stroke='hsl(20deg 8% 8%)' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  display: inline-block;
  transition: transform 0.5s ease;
  vertical-align: text-bottom;
  margin-left: 4px;
}

header.is-frozen summary::after {
  display: none;
}

@media (prefers-color-scheme: dark) {
  header summary::after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><polyline points='6 9 12 15 18 9' stroke='hsl(20deg 20% 90%)' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  }
}

@media (hover: hover) {
  header details summary:hover {
    background: var(--bg2-color);
  }

  header.is-expanding:hover,
  header.is-open:hover {
    background: var(--bg-color-translucent);
  }
}

header.is-expanding details summary::after,
header.is-open details summary::after,
header details[open] summary::after {
  transform: rotate(180deg);
}

header.is-collapsing details summary::after {
  transform: inherit;
}

header.is-expanding,
header.is-open {
}

header.is-collapsing {
}

header .content {
  position: relative;
}

header summary .title {
  font-family: var(--mono-font);
  font-style: italic;
  font-weight: 500;
  font-size: 16px;
}

header summary .title .logo {
  color: #fff;
  background: var(--theme-color);
  padding: 2px 6px;
  margin-right: 4px;
  font-size: 15px;
  font-weight: 600;
}

header details .search-container {
  display: flex;

  .controls {
    margin: 0 auto;
  }

  .results-container {
    position: absolute;
    top: -40px;
    left: var(--gap);
    width: calc(100vw - 2 * var(--gap) - var(--details-padding));

    z-index: 1000;
    pointer-events: none;

    &.is-hidden .results {
      opacity: 0;
      transform: translateY(-50px) scaleX(50%);
      pointer-events: none;
    }
  }

  .results {
    pointer-events: all;

    margin: 0 auto;
    max-width: 768px;

    background: Canvas;
    color: CanvasText;
    border: var(--control-border-width) solid var(--fg2-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;

    opacity: 1;
    transform: translateY(0) scaleX(100%);

    @media (prefers-reduced-motion: no-preference) {
      & {
        transition:
          transform 0.25s ease,
          opacity 0.25s ease;
      }
    }

    &::before {
      text-align: center;
      padding-left: 0;
      font-weight: 400;
    }

    ol {
      padding: 0;

      .subtitle,
      .score {
        display: none;
      }

      .excerpt {
        line-height: 2.5ex;
        height: 5ex;
      }

      li {
        .title {
        }
        .subtitle {
        }
      }

      a {
        padding: 8px;
      }
    }
  }
}
