@use '../mixins' as *;

:root {
  --highlight-hue: 59deg;
  --highlight-color: hsl(var(--highlight-hue) 100% 50% / 50%);

  // For animations
  --highlight-color-transparent: hsl(var(--highlight-hue) 50% 90% / 0%);
}

.toc {
  @include user-select(none);

  line-height: 1.4;
}

body.code .toc ol li:has(a) {
  font-family: var(--mono-font);
  font-size: var(--mono-font-size);
}

body.code .toc ol a {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.toc ol::before {
  display: block;
  font-family: var(--mono-font);
  font-size: var(--font-size-small);
  font-style: italic;
  text-align: center;
  content: 'On this page';
}

.toc ol {
  padding: 0;
  margin: 0;
}

.toc ol li {
  margin-bottom: 0;
  overflow-wrap: break-word;
  list-style-type: none;
}

.toc ol a {
  display: block;
  padding: 4px 6px;
  color: var(--fg-color);
  text-decoration: none;
  border: none;

  &:focus-visible {
    outline-offset: -2px;
  }
}

@media (hover: hover) {
  .toc ol li:has(a):hover,
  .toc ol li:has(a):hover a {
    color: var(--fg2-color);
  }
}

.toc ol li:has(a):active,
.toc ol li:has(a):active a {
  color: var(--link-active-color);
}

@media (width >= 900px) {
  .toc ol li.current a {
    background: var(--bg2-color);
  }

  .toc ol li:last-child {
    margin-bottom: var(--gap);
  }

  .toc ol::before {
    display: none;
    content: '';
  }
}

.toc ol li.level1 {
  font-size: var(--font-size-smaller);
}

.toc ol li.level2 {
  font-size: var(--font-size-smaller);
}

.toc ol li.level3 {
  margin-left: 10px;
  font-size: var(--font-size-smaller);
}

.toc ol li.level4 {
  margin-left: 18px;
  font-size: var(--font-size-small);
  font-weight: 450;
}

.toc ol li.level5 {
  margin-left: 24px;
  font-size: var(--font-size-small);
  font-weight: 450;
}

.toc ol li.level6 {
  margin-left: 32px;
  font-size: var(--font-size-small);
  font-weight: 450;
}

.toc ol li.dinkus-item {
  height: 8px;
  margin: 4px 0;
  pointer-events: none;
  background-color: var(--fg2-color);
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 12'><rect x='0' y='5.5' width='96' height='1' fill='black'/><path d='M 64,6 C 71,6 80,4.5 80,1 C 80,4.5 89,6 96,6 C 89,6 80,7.5 80,11 C 80,7.5 71,6 64,6 Z' fill='black'/><rect x='64' y='5.5' width='96' height='1' fill='black'/></svg>");
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.toc ol li.alert-item {
  position: relative;
}

.toc ol li.alert-item.warning a::before,
.toc ol li.alert-item.note a::before {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: bottom;
  content: '';
}

.toc ol li.alert-item.warning a::before {
  @include contained-mask(var(--icon-warning));
}

.toc ol li.alert-item.note a::before {
  @include contained-mask(var(--icon-note));
}

.toc ol li.label {
  font-size: var(--font-size-smaller);
  color: var(--fg2-color);
}

@media print {
  .toc {
    display: none;
  }
}
