@import '../_mixins.scss';

.toc {
  @include user-select(none);

  line-height: 1.2;
}

.toc ul {
  margin: 0;
  padding: 0;
}

.toc ul li {
  list-style-type: none;
  overflow-wrap: break-word;
}

.toc ul li:first-of-type.level1 {
  font-weight: 600;
}

.toc ul a {
  text-decoration: none;
  border: none;
  display: block;
  padding: 4px 3px;
  color: var(--fg-color);
}

@media (hover: hover) {
  .toc ul li:hover,
  .toc ul li:hover a {
    color: var(--fg2-color);
  }
}

.toc ul li.current a {
  background: var(--bg2-color);
  border-radius: 6px;
}

.toc ul li.level1 {
  font-size: var(--font-size-smaller);
}

.toc ul li.level2 {
  font-size: var(--font-size-smaller);
}

.toc ul li.level3 {
  font-size: var(--font-size-smaller);
  margin-left: 8px;
}

.toc ul li.level4 {
  font-size: var(--font-size-small);
  margin-left: 16px;
}

.toc ul li.level5 {
  font-size: var(--font-size-small);
  margin-left: 24px;
}

.toc ul li.level6 {
  font-size: var(--font-size-small);
  margin-left: 32px;
}

.toc ul li.alert-item {
  position: relative;
}

.toc ul li.alert-item.warning a::before,
.toc ul li.alert-item.note a::before {
  display: inline-block;
  height: 20px;
  vertical-align: bottom;
  margin-right: 4px;
}

.toc ul li.alert-item.warning a::before {
  // fg-color
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/></svg>");
}

@media (prefers-color-scheme: dark) {
  .toc ul li.alert-item.warning a::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) {
  .toc ul li.alert-item.warning:hover a::before,
  .toc ul li.alert-item.warning a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .toc ul li.alert-item.warning:hover a::before,
  .toc ul li.alert-item.warning a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

.toc ul li.alert-item.note a::before {
  // fg-color
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 8% 8%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/></svg>");
}

@media (prefers-color-scheme: dark) {
  .toc ul li.alert-item.note a::before {
    // fg-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 20% 90%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) {
  .toc ul li.alert-item.note:hover a::before,
  .toc ul li.alert-item.note a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 20% 60%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .toc ul li.alert-item.note:hover a::before,
  .toc ul li.alert-item.note a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 20% 60%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 20% 60%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  will-change: color, background-color, padding;
  color: var(--fg-color);
  background-color: transparent;
  display: inline-block;
  padding: 6px 0px;
}

h1.is-highlighted,
h2.is-highlighted,
h3.is-highlighted,
h4.is-highlighted,
h5.is-highlighted,
h6.is-highlighted {
  animation: highlight-heading 3s ease 1;
}

@keyframes highlight-heading {
  0% {
    padding: 6px 0px;
    color: var(--fg-color);
    background-color: var(--theme-color-transparent);
  }
  12.5% {
    padding: 6px 12px 6px 6px;
    color: #fff;
    background-color: var(--theme-color);
  }
  87.5% {
    padding: 6px 12px 6px 6px;
    color: #fff;
    background-color: var(--theme-color);
  }
  100% {
    padding: 6px 0px;
    color: var(--fg-color);
    background-color: var(--theme-color-transparent);
  }
}

sup.footnote-ref a,
.footnotes li {
  will-change: outline;
  outline: 0 solid var(--theme-color-transparent);
  outline-offset: 2px;
}

sup.footnote-ref a.is-highlighted,
.footnotes li.is-highlighted {
  animation: highlight-footnote 3s ease 1;
}

@keyframes highlight-footnote {
  0% {
    outline-width: 0px;
    outline-color: var(--theme-color-transparent);
  }
  12.5% {
    outline-width: 4px;
    outline-color: var(--theme-color);
  }
  87.5% {
    outline-width: 4px;
    outline-color: var(--theme-color);
  }
  100% {
    outline-width: 0px;
    outline-color: var(--theme-color-transparent);
  }
}


.alert {
  will-change: outline;
  outline: 0 solid var(--theme-color);
}

.alert.is-highlighted {
  animation: highlight-alert 3s ease 1;
}

@keyframes highlight-alert {
  0% {
    outline-width: 0px;
    outline-color: var(--theme-color-transparent);
  }
  12.5% {
    outline-width: 4px;
    outline-color: var(--theme-color);
  }
  87.5% {
    outline-width: 4px;
    outline-color: var(--theme-color);
  }
  100% {
    outline-width: 0px;
    outline-color: var(--theme-color-transparent);
  }
}
