@import '../_mixins.scss';

:root {
  --highlight-hue: 59deg;
  --highlight-color: hsl(var(--highlight-hue) 100% 50% / 50%);
  // For animations
  --highlight-color-transparent: hsl(var(--highlight-hue) 50% 90% / 0%);
}

.toc {
  @include user-select(none);

  line-height: 1.4;
}

body.code .toc ol li:has(a) {
  font-family: var(--mono-font);
  font-size: var(--mono-font-size);
}

body.code .toc ol a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc ol::before {
  content: 'On this page';
  display: block;
  font-family: var(--mono-font);
  font-style: italic;
  font-size: var(--font-size-small);
  text-align: center;
}

.toc ol {
  margin: 0;
  padding: 0;
}

.toc ol li {
  list-style-type: none;
  overflow-wrap: break-word;
  margin-bottom: 0;
}

.toc ol a {
  text-decoration: none;
  border: none;
  display: block;
  padding: 4px 6px;
  color: var(--fg-color);
}

@media (hover: hover) {
  .toc ol li:has(a):hover,
  .toc ol li:has(a):hover a {
    color: var(--fg2-color);
  }

  .toc ol li a:active {
    color: var(--link-active-color);
  }
}

@media (min-width: 900px) {
  .toc ol li.current a {
    background: var(--bg2-color);
  }

  .toc ol li:last-child {
    margin-bottom: var(--gap);
  }

  .toc ol::before {
    display: none;
    content: '';
  }
}

.toc ol li.level1 {
  font-size: var(--font-size-smaller);
}

.toc ol li.level2 {
  font-size: var(--font-size-smaller);
}

.toc ol li.level3 {
  font-size: var(--font-size-smaller);
  margin-left: 10px;
}

.toc ol li.level4 {
  font-size: var(--font-size-small);
  font-weight: 450;
  margin-left: 18px;
}

.toc ol li.level5 {
  font-size: var(--font-size-small);
  font-weight: 450;
  margin-left: 24px;
}

.toc ol li.level6 {
  font-size: var(--font-size-small);
  font-weight: 450;
  margin-left: 32px;
}

.toc ol li.dinkus-item {
  height: 8px;
  margin: 4px 0;
  pointer-events: none;
  background-color: var(--fg2-color);
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 12'><rect x='0' y='5.5' width='96' height='1' fill='black'/><path d='M 64,6 C 71,6 80,4.5 80,1 C 80,4.5 89,6 96,6 C 89,6 80,7.5 80,11 C 80,7.5 71,6 64,6 Z' fill='black'/><rect x='64' y='5.5' width='96' height='1' fill='black'/></svg>");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}

.toc ol li.alert-item {
  position: relative;
}

.toc ol li.alert-item.warning a::before,
.toc ol li.alert-item.note a::before {
  display: inline-block;
  height: 20px;
  vertical-align: bottom;
  margin-right: 4px;
}

.toc ol li.alert-item.warning a::before {
  // fg-color
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/></svg>");
}

@media (prefers-color-scheme: dark) {
  .toc ol li.alert-item.warning a::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) {
  .toc ol li.alert-item.warning:hover a::before,
  .toc ol li.alert-item.warning a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 6% 60%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 6% 60%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 6% 60%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .toc ol li.alert-item.warning:hover a::before,
  .toc ol li.alert-item.warning a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><polygon points='12,2 22,20 2,20' fill='none' stroke='hsl(20deg 6% 55%)' stroke-width='2' stroke-linejoin='round'/><line x1='12' y1='9' x2='12' y2='13' stroke='hsl(20deg 6% 55%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='16' x2='12' y2='16' stroke='hsl(20deg 6% 55%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

.toc ol li.alert-item.note a::before {
  // fg-color
  content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 8% 8%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/></svg>");
}

@media (prefers-color-scheme: dark) {
  .toc ol li.alert-item.note a::before {
    // fg-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 20% 90%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) {
  .toc ol li.alert-item.note:hover a::before,
  .toc ol li.alert-item.note a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 6% 60%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 6% 60%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 6% 60%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

@media (hover: hover) and (prefers-color-scheme: dark) {
  .toc ol li.alert-item.note:hover a::before,
  .toc ol li.alert-item.note a:hover::before {
    // fg2-color
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 24 24'><circle cx='12' cy='12' r='10' fill='none' stroke='hsl(20deg 6% 55%)' stroke-width='2'/><line x1='12' y1='10' x2='12' y2='16' stroke='hsl(20deg 6% 55%)' stroke-width='2' stroke-linecap='round'/><line x1='12' y1='7' x2='12' y2='7' stroke='hsl(20deg 6% 55%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

.toc ol li.label {
  font-size: var(--font-size-smaller);
  color: var(--fg2-color);
}
