time[datetime] {
  &.is-modified {
    text-decoration: var(--fg2-color) underline dotted;
  }
}

span.next-prev-day {
  color: var(--fg2-color);
  font-style: italic;
}

.timezone-wrapper {
  display: inline-flex;
  align-items: center;
  gap: 4px;
}
