time[datetime] {
  &.is-modified {
    text-decoration: var(--fg2-color) underline dotted;
  }
}

span.next-prev-day {
  font-style: italic;
  color: var(--fg2-color);
}

.timezone-wrapper {
  display: inline-flex;
  gap: 4px;
  align-items: center;

  .icon-button.is-hidden {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
  }
}

@media print {
  .timezone-wrapper .icon-button {
    display: none;
  }

  select.time-zone {
    padding: 0;
    font: inherit;
    color: inherit;
    appearance: none;
    background: none;
    border: none;

    option {
      display: none;
    }
  }
}
