@import '../_mixins.scss';

.search-container {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .controls {
    input.search {
      background-color: Canvas;
      background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><circle cx='11' cy='11' r='7' stroke='hsl(20deg 8% 8%)' stroke-width='2' fill='none'/><line x1='16.5' y1='16.5' x2='22' y2='22' stroke='hsl(20deg 8% 8%)' stroke-width='2' stroke-linecap='round'/></svg>");
      background-repeat: no-repeat;
      background-position: left 6px center;
      background-size: 16px 16px;
      padding-left: 2rem;

      border-radius: 18px;
      width: 100%;
    }

    @media (prefers-color-scheme: dark) {
      input.search {
        background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><circle cx='11' cy='11' r='7' stroke='hsl(20deg 20% 90%)' stroke-width='2' fill='none'/><line x1='16.5' y1='16.5' x2='22' y2='22' stroke='hsl(20deg 20% 90%)' stroke-width='2' stroke-linecap='round'/></svg>");
      }
    }

    .hints {
      @include user-select(none);
      padding: 0;
      margin-top: 8px;
      display: flex;
      gap: var(--gap);

      .hint {
        font-size: var(--font-size-small);
        font-style: italic;
        color: var(--fg2-color);
        transition: color 0.2s;

        &.is-highlighted {
          color: var(--fg-color);

          kbd {
            background: var(--fg-color-translucent);
          }
        }
      }

      kbd {
        background: var(--bg-color);
        padding: 2px 4px;
        transition: background 0.2s;
      }
    }
  }

  .results-container.is-hidden .results {
    opacity: 0;
    transform: translateY(-16px);
    pointer-events: none;
  }

  .results {
    min-height: 80px;
    opacity: 1;
    transform: translateY(0);
    @include user-select(none);

    .results-info {
      display: block;
      color: var(--fg2-color);
      @include user-select(none);
      padding: 8px 0 8px 8px;
      font-weight: 700;
    }

    .no-results {
      display: inline-block;
      @include user-select(none);
      margin: 0 auto;
    }

    ol {
      margin: 0;
      padding: 0;
      list-style-type: none;
      columns: 1;
      gap: 0;

      @media only screen and (min-width: 640px) {
        & {
          columns: 2;
        }
      }
    }

    ol a {
      break-inside: avoid;
      display: grid;
      border: none;
      position: relative;
      color: var(--fg-color);

      &.is-active {
        background: var(--bg2-color);
      }

      &:focus-visible {
        outline: 2px solid var(--theme-color);
        outline-offset: -2px;
      }
    }

    ol a,
    .no-results {
      padding: 8px;
    }

    @media (hover: hover) {
      ol a:hover {
        cursor: pointer;
        background: var(--bg2-color);
        color: var(--fg-color);
      }
    }

    ol a .title {
      font-weight: 500;

      .badge {
        font-size: var(--font-size-small);
        font-weight: 400;
        font-style: italic;
        padding: 2px 6px;
        background: var(--bg2-color);
        vertical-align: text-top;
        margin-left: 8px;

        &.top-result {
          background: var(--theme-color);
          color: #fff;
        }
      }
    }

    ol a:active {
      color: Canvas;
      background: CanvasText;

      .title .badge.page-number {
        color: CanvasText;
      }
    }

    ol li .subtitle {
      font-family: var(--mono-font);
      font-size: var(--font-size-small);
      color: var(--fg2-color);
    }

    ol li .excerpt {
      grid-row-start: 3;
      font-size: var(--font-size-small);
      color: var(--fg2-color);
      line-height: 2.5ex;
      height: 7.5ex; // 3 lines (3 * 2.5ex)
      overflow: hidden;
    }
  }
}
