#search {
  background-color: Canvas;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><circle cx='11' cy='11' r='7' stroke='hsl(20deg 5% 8%)' stroke-width='2' fill='none'/><line x1='16.5' y1='16.5' x2='22' y2='22' stroke='hsl(20deg 5% 8%)' stroke-width='2' stroke-linecap='round'/></svg>");
  background-repeat: no-repeat;
  background-position: left 6px center;
  background-size: 16px 16px;
  padding-left: 2rem;

  border-radius: 18px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  max-width: 400px;
}

@media (prefers-color-scheme: dark) {
  #search {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24'><circle cx='11' cy='11' r='7' stroke='hsl(20deg 10% 90%)' stroke-width='2' fill='none'/><line x1='16.5' y1='16.5' x2='22' y2='22' stroke='hsl(20deg 10% 90%)' stroke-width='2' stroke-linecap='round'/></svg>");
  }
}

#search::before {
  content: "";
  position: absolute;
  left: 2px;
  top: 4px;
  width: 20px;
  height: 20px;
  background: var(--fg-color);
  mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='%23000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='11' cy='11' r='7'/><line x1='21' y1='21' x2='16.65' y2='16.65'/></svg>");
  pointer-events: none;
}

#results {
  position: absolute;
  bottom: 48px;
  width: 100%;
}

#results ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#results ol a {
  display: block;
  background: Canvas;
  color: CanvasText;
  border-bottom: 1px solid CanvasText;
  padding: 8px 0 8px 8px;
}

#results ol li:first-of-type a {
  border-top: 1px solid CanvasText;
}

#results ol a:hover {
  background: var(--bg2-color);
  cursor: pointer;
}

#results ol li .title {
  font-weight: 500;
  display: inline;
}

#results ol li .subtitle {
  font-style: italic;
  font-size: 16px;
  display: inline;
  margin-left: 12px;
}

#results ol li .excerpt {
  font-size: 15px;
}

#results ol li .highlight {
  font-weight: 700;
}
