.trace-body {
  display: flex;
  flex-direction: column;
  max-height: calc(100dvh - var(--header-collapsed-height) - 3 * var(--gap));
  overflow: hidden;
  gap: var(--gap);
}

.trace-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  gap: var(--gap);

  @media (width >= 924px) {
    flex-direction: row;
  }
}

.trace-left {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex: 1 100 auto;
  min-height: 5lh;

  @media (width >= 924px) {
    flex: 0 100 auto;
    min-width: 20rem;
  }

  .trace-source {
    flex: 1;
    min-height: 0;
  }
}

.trace-right {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  flex: 1 1 auto;
  min-height: 0;
  overflow: auto;

  .trace-diagram {
    flex: 1;
    min-height: 0;
    border: 1px solid var(--fg2-color);
    border-radius: var(--border-radius);
    overflow: auto;
    overscroll-behavior: none;
  }

  @media (width >= 924px) {
    min-width: 20rem;
  }
}

.trace-toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 3px;
}

.trace-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 6px;
  border-radius: calc(var(--border-radius) + 4px);
  background: var(--bg2-color);

  &:focus-within {
    outline: 2px solid var(--fg-color);
    outline-offset: 1px;
  }

  width: 100%;
  max-width: 386px;

  @media (max-width: 410px) {
    max-width: none;
  }
}

.trace-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-width: 2.5em;
  padding: 0.5em 0.75em;
}

.trace-step-counter {
  text-align: center;
  font-variant-numeric: tabular-nums;
  font-size: var(--font-size-smaller);
}

.trace-source {
  --code-gutter-width: 4rem;
  overflow: auto;
  overscroll-behavior: none;

  & > pre {
    margin: 0;
    padding: 0;
    overflow: visible;
    width: max-content;
    min-width: 100%;

    code {
      padding-right: var(--gap);
    }
  }

  .line-number.trace-line-active {
    font-weight: bold;
    color: var(--fg-color);

    &::before {
      content: '\25B6';
      position: absolute;
      margin-right: 0.25em;
      left: 0;
      line-height: 1.3;
    }
  }
}

.trace-output {
  font-size: var(--font-size-smaller);
  line-height: var(--line-height);
  min-height: calc(var(--font-size-small) * var(--line-height) + 1lh);
  margin: 0;
}

.trace-output::before {
  content: 'Output';
  display: block;
  font-size: var(--font-size-small);
  font-style: italic;
  color: var(--fg2-color);
}
