.heading-anchor {
  position: relative;
  display: inline-block;
  color: var(--fg-color);
  text-decoration: none;
}

.heading-anchor::after {
  content: var(--icon-anchor);
  display: inline-block;
  height: 0.75em;
  width: 0.75em;
  margin-left: 4px;
  opacity: 0;
}

.heading-anchor:focus::after,
.heading-anchor:focus-visible::after {
  opacity: 1;
}

@media (hover: hover) {
  h1:hover .heading-anchor::after,
  h2:hover .heading-anchor::after,
  h3:hover .heading-anchor::after,
  h4:hover .heading-anchor::after,
  h5:hover .heading-anchor::after,
  h6:hover .heading-anchor::after {
    opacity: 1;
  }

  h1:hover .heading-anchor,
  h2:hover .heading-anchor,
  h3:hover .heading-anchor,
  h4:hover .heading-anchor,
  h5:hover .heading-anchor,
  h6:hover .heading-anchor {
    color: var(--fg-color);
  }
}
