@use '../mixins' as *;

a.heading-anchor {
  position: relative;
  display: inline-block;
  @include subdued-link;
}

a.heading-anchor::after {
  content: '';
  display: inline-block;
  height: 1em;
  width: 1em;
  margin-left: 4px;
  vertical-align: middle;
  opacity: 0;
  @include contained-mask(var(--icon-anchor));
}

a.heading-anchor:focus-visible::after {
  opacity: 1;
}

@media (hover: hover) {
  h1:hover a.heading-anchor::after,
  h2:hover a.heading-anchor::after,
  h3:hover a.heading-anchor::after,
  h4:hover a.heading-anchor::after,
  h5:hover a.heading-anchor::after,
  h6:hover a.heading-anchor::after {
    opacity: 1;
  }
}
