<aside class="author">
  Written by
  <% if (page.author.url) { %>
  <a href="<%= applyBasePath(page.author.url) %>">
  <% } %>
  <span class="text"><%= page.author.name %></span>
  <% if (page.author.avatar) { %>
  <img
    width="32"
    height="32"
    src="<%= applyBasePath(page.author.avatar) %>"
    alt="Picture of <%= page.author.name %>"
    class="avatar"
  />
  <% } else { %>
  <img
    width="32"
    height="32"
    src="data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='32' height='32'><rect width='32' height='32'/></svg>"
    alt=""
    class="avatar"
  />
  <% } %>
  <% if (page.author.url) { %>
  </a>
  <% } %>
</aside>
