<nav>
<% config('nav').forEach(function(section) { %>
  <div>
    <p><%= section.title %></p>
    <ul>
      <% section.links.forEach(function(link) { %>
        <li>
          <a
            class="<%= cx({disabled: link.disabled, external: link.external}) %>"
            <% if (!link.disabled) { %>href="<%- encodeAuthoredUrl(link.internal || link.external) %>"<% } %>
            <% if (link.external) { %>target="_blank" rel="noopener noreferrer"<% } %>
          >
            <%= link.text %></a>
        </li>
      <% }) %>
    </ul>
  </div>
<% }) %>
</nav>
