<%= render('_top.html') %>

<div class="main-content">
  <%= render('_heading.html') %>
  <main class="body" data-pagefind-body>
    <div class="page-content">
      <% if (page.slides) { %>
      <div class="slides-header" data-pagefind-ignore>
        <button type="button" data-slides-present disabled>Present</button>
        <label>
          <input id="slides-fullscreen" type="checkbox" data-slides-fullscreen checked disabled>
          Full screen
        </label>
      </div>
      <% } %>
      <%= content %>
    </div>
    <%= render('_page-bottom.html') %>
  </main>
  <% if (page.toc && page.tocHtml) { %>
  <nav class="toc"><%= page.tocHtml %></nav>
  <% } %>
</div>

<%= render('_bottom.html') %>
