<%= render('_top.html') %>

<div class="main-content">
  <%= render('_heading.html') %>
  <main class="body" data-pagefind-body>
    <% if (page.slides) { %>
    <div class="slides-header" data-pagefind-ignore>
      <button type="button" data-slides-present disabled>Present</button>
      <button type="button" data-slides-present-fullscreen disabled>
        Present (Full Screen)
      </button>
    </div>
    <% } %>
    <%= content %>
    <%= render('_footer.html') %>
  </main>
  <% if (page.toc && page.tocHtml) { %>
  <nav class="toc"><%= page.tocHtml %></nav>
  <% } %>
</div>

<%= render('_bottom.html') %>
