<%= render('_top.html') %>

<div class="title-and-info">
  <h1><%= page.title %></h1>

  <div class="info">
    <% if (page.author && page.avatar) { %>
      <%= render('_author.html') %>
    <% } %>
    <% if (page.published) { %>
    <p class="publish-date">
      <time datetime="<%= isoDate(page.published) %>">
        <%= readableDate(page.published) %>
      </time>
    </p>
    <% } %>
  </div>
</div>

<nav class="toc"></nav>

<main>
  <%= content %>
</main>

<%= render('_bottom.html') %>
