<%= render('_top.html') %>

<div class="search-container">
  <p class="beta-warning">Beta feature <i class="warning"></i></p>

  <div class="controls">
    <input
      type="search"
      class="search main-search"
      tabindex="0"
      autocomplete="off"
      name="search-string"
      placeholder="Search (requires JavaScript)" />
    <%= render('_hints.html') %>
  </div>
  <div
    class="results-container"
    role="region"
    aria-live="polite"
    aria-hidden="false">
    <div class="results"></div>
  </div>
</div>

<script>
  const el = document.querySelector('input.search.main-search')

  function setInputValueFromHash() {
    if (window.location.hash.startsWith('#q=')) {
      const query = decodeURIComponent(window.location.hash.substring(3)).trim()
      if (query) {
        el.value = query
      }
    }
  }

  function setHashFromInputValue() {
    const value = el.value.trim()
    if (value) {
      window.location.hash = '#q=' + encodeURIComponent(value)
    }
  }

  window.addEventListener('load', function () {
    setInputValueFromHash()
    el.focus()
  })

  window.addEventListener('hashchange', function () {
    setInputValueFromHash()
  })

  el.addEventListener('input', function () {
    setHashFromInputValue()
  })

  el.addEventListener('search', function () {
    const value = el.value.trim()
    if (value) {
      window.location.hash = '#q=' + encodeURIComponent(value)
    }
  })
</script>

<%= render('_bottom.html') %>
