@use 'mixins' as *;

.alert {
  position: relative;
  margin: 1rem 0;
  border: 2px solid var(--bg2-color);
}

.alert.warning {
  background: var(--warning-bg-color);
  border-color: var(--warning-bg-color);
}

.alert.note {
  background: var(--note-bg-color);
  border-color: var(--note-bg-color);
}

.alert .title {
  padding: 10px 6px;
  padding-top: 18px;
  padding-left: 58px;
}

.alert .content {
  padding: 12px;

  .styled-list {
    color: var(--fg-color);
  }

  tt,
  code {
    padding: inherit;
    background: inherit;
  }

  a {
    @include link-underline;

    color: var(--fg-color);

    &:hover {
      color: var(--fg2-color);
    }

    &:active {
      color: var(--link-active-color);
    }
  }

  dfn {
    color: inherit;
  }
}

.alert .content > *:first-child {
  margin-top: 0;
}

.alert .content > *:last-child {
  margin-bottom: 0;
}

.alert .title::before {
  position: absolute;
  top: 12px;
  left: 10px;
  width: var(--alert-icon-size);
  height: var(--alert-icon-size);
  content: '';

  @include contained-mask(var(--alert-icon));
}

.alert.warning {
  --alert-icon: var(--icon-warning);
  --alert-icon-size: var(--icon-warning-size);
}

i.warning {
  @include contained-mask(var(--icon-warning-compact));

  display: inline-block;
  width: var(--icon-warning-compact-size);
  height: var(--icon-warning-compact-size);
  vertical-align: sub;
}

.alert.note {
  --alert-icon: var(--icon-info);
  --alert-icon-size: var(--icon-info-size);
}

.alert .title {
  margin: 0;
  font-weight: 700;

  @include user-select(none);
}

.alert > p:last-child {
  margin-bottom: 0;
}
