@use 'mixins' as *;

.alert {
  position: relative;
  margin: 1rem 0;
  border: 2px solid var(--bg2-color);
}

.alert.warning {
  background: var(--warning-bg-color);
  border-color: var(--warning-bg-color);
}

.alert.note {
  background: var(--note-bg-color);
  border-color: var(--note-bg-color);
}

.alert .title {
  padding: 10px 6px;
}

.alert .content {
  padding: 12px;

  .styled-list {
    color: var(--fg-color);
  }

  tt,
  code {
    padding: inherit;
    background: inherit;
  }

  time[datetime].is-modified {
    // Reset the underline color
    text-decoration: underline dotted;
  }

  a {
    @include link-underline;

    color: var(--fg-color);

    &:hover {
      color: var(--fg2-color);
    }

    &:active {
      color: var(--link-active-color);
    }
  }

  dfn {
    color: inherit;
  }
}

.alert .content > *:first-child {
  margin-top: 0;
}

.alert .content > *:last-child {
  margin-bottom: 0;
}

.alert .title::before {
  position: absolute;
  top: 8px;
  left: 8px;
  width: 32px;
  height: 32px;
  content: '';
}

.alert.warning .title::before {
  @include contained-mask(var(--icon-warning));
}

i.warning {
  @include contained-mask(var(--icon-warning));

  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: sub;
}

.alert.note .title::before {
  @include contained-mask(var(--icon-note));
}

.alert .title {
  padding-left: 48px;
  margin: 0;
  font-weight: 700;

  @include user-select(none);
}

.alert > p:last-child {
  margin-bottom: 0;
}
