@use 'mixins' as *;

:root {
  --box-border-width: 5px;
  --gap: 12px;
  --border-radius: 12px;
  --control-border-width: 2px;
  --label-border-width: 2px;
  --table-padding: 12px;
  --details-padding: 12px;
  --section-padding: 64px;
  --main-width: 900px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  line-height: var(--heading-line-height);
  -webkit-break-after: avoid;
  break-after: avoid;
}

h1 {
  font-size: 250%;
  font-weight: 700;
}

body {
  font-family: var(--font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);

  /*
   * Enable Inter's features:
   * liga - standard ligatures
   * calt - contextual alternates
   * ss07 - square punctuation
   * ss08 - square quotes
   * cv01 - alternate 1
   * cv08 - uppercase I with serif
   * cv10 - capital G with spur
   */
  font-feature-settings: 'liga', 'calt', 'ss07', 'ss08', 'cv01', 'cv08', 'cv10';
  line-height: var(--line-height);
  color: var(--fg-color);
  background-color: var(--bg-color);

  @media (prefers-color-scheme: dark) {
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
  }
}

html {
  overscroll-behavior: none;
  background: var(--bg-color);
}

a {
  color: var(--link-color);
  text-decoration-line: none;

  @media (hover: hover) {
    &:hover {
      color: var(--link-color-hover);

      @include link-underline;
    }
  }

  &:active {
    color: var(--link-active-color);
  }
}

pre,
tt,
code {
  font-family: var(--mono-font);
}

tt,
code {
  padding: var(--mono-padding);
  font-size: var(--mono-font-size);
  overflow-wrap: anywhere;
  background: var(--bg2-color);
  border-radius: var(--mono-border-radius);
}

pre {
  padding: var(--gap);
  overflow: auto hidden;
  overscroll-behavior-x: none;
  font-size: var(--mono-font-size);
  line-height: var(--mono-line-height);
  background: var(--bg2-color);
  border-radius: var(--mono-border-radius);

  code {
    padding: 0;
    font-size: inherit;
  }
}

details .content > *:first-child {
  margin-top: 0;
}

details .content > *:last-child {
  margin-bottom: 0;
}

details summary {
  padding: var(--details-padding);
  cursor: pointer;

  @include user-select(none);
}

main details summary:focus {
  outline: none;
}

main details:focus-within {
  outline: 2px solid var(--theme-color);
  outline-offset: 1px;
}

details .content {
  padding: 0 var(--details-padding) var(--details-padding)
    var(--details-padding);
}

@media (hover: hover) {
  details summary:hover {
    color: var(--fg2-color);

    @include link-underline;
  }
}

details summary:active {
  color: var(--link-active-color);
}

main details {
  margin-bottom: 1rem;
  border: 2px solid var(--fg-color);
  border-radius: var(--border-radius);
}

input[type='text'],
input[type='search'] {
  padding: 4px;
  font-family: var(--font);
  font-size: 12pt;
  color: var(--fg-color);
  background: var(--bg-color);
  border: var(--control-border-width) solid var(--fg2-color);
  border-radius: var(--border-radius);
}

input[type='search'] {
  min-width: 0;
  padding-left: 2rem;
  background-color: var(--bg-color);
  background-image: var(--icon-search);
  background-repeat: no-repeat;
  background-position: left 6px center;
  background-size: 16px 16px;
  border-radius: 18px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

label:has(> input[type='checkbox']) {
  display: inline-flex;
  gap: 0.45em;
  align-items: center;
  font-size: var(--font-size-small);
  font-weight: 500;

  @include user-select(none);
}

input[type='checkbox'] {
  display: inline-grid;
  flex: 0 0 auto;
  place-content: center;
  width: 1.5em;
  height: 1.25em;
  padding: 0;
  margin: 0;
  font: inherit;
  color: var(--fg-color);
  appearance: none;
  cursor: pointer;
  background: var(--bg-color);
  border: var(--control-border-width) solid var(--fg2-color);
  border-radius: 0.25em;

  &::after {
    display: block;
    width: 1.1em;
    height: 1.1em;
    content: '';
    background-color: currentcolor;
    opacity: 0;

    @include contained-mask(var(--icon-check));
  }

  &:checked {
    &::after {
      opacity: 1;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }

  &:active:not(:disabled) {
    color: var(--bg-color) !important;
    background: var(--link-active-color) !important;
  }

  &:focus {
    outline: 2px solid var(--theme-color);
    outline-offset: 1px;
    background-color: var(--bg2-color);
    border-color: var(--fg-color);
  }
}

@media (hover: hover) {
  input[type='checkbox']:hover:not(:disabled) {
    background: var(--bg2-color);
  }
}

figure {
  margin: 1rem 0;

  figcaption {
    margin: 0 3rem;
    font-size: var(--font-size-smaller);
    color: var(--fg2-color);
  }
}
