@use 'mixins' as *;

body.code {
  --code-gutter-width: 4rem;
}

.file-header {
  display: flex;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
  padding: var(--gap);
  margin-bottom: var(--gap);
  border: 1px solid var(--fg2-color);
  border-radius: var(--border-radius);

  tt,
  code {
    padding: 0;
    background: none;
  }
}

.code-row {
  display: grid;
  grid-template-columns: var(--code-gutter-width) 1fr;
}

.line-number {
  position: sticky;
  left: 0;
  z-index: 1;
  display: block;
  padding: 0 0.75em;
  margin-right: var(--gap);
  font-family: var(--mono-font);
  color: var(--fg2-color);
  text-align: right;
  text-decoration: none;
  background: var(--bg2-color);
  border-right: 1px solid var(--fg2-color);

  @include user-select(none);
}

a.line-number {
  cursor: pointer;

  &:hover {
    color: var(--fg-color);
  }

  &:target {
    color: var(--bg-color);
    background: var(--fg2-color);
  }
}
