@import './_mixins.scss';

:root {
  --toc-width: 280px;
}

html {
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-gutter: stable;
  scrollbar-color: var(--fg-color) transparent;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.alert,
a {
  scroll-margin-top: calc(var(--header-collapsed-height) + 32px);
}

body > .container {
  position: relative;
  padding: 0;
}

body.is-homepage {
  header {
    position: inherit;
    background: var(--bg2-color);
    &:hover {
      background: var(--bg2-color);
    }
  }

  .container {
    margin-top: 0;
  }
}

body.default main table {
  width: 100%;
}

@media (min-width: 1100px) {
  body.default main table {
    width: auto;
    min-width: 500px;
    margin: 1rem auto;
  }
}

body.default > .container {
  padding: var(--gap);

  .title-and-info {
    margin-top: var(--header-collapsed-height);
  }
}

body.default .title-and-info,
body.default nav.toc {
  margin-bottom: 2rem;
}

@media (min-width: 1100px) {
  body.default .title-and-info {
    margin-bottom: 0;
  }

  body.default.toc-is-active > .container {
    display: grid;
    width: 100vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 0;
    grid-template-columns: var(--toc-width) 1fr;
    grid-gap: var(--gap);

    nav.toc {
      grid-row: 1;
      grid-row-end: none;
      grid-column: 1;
      overflow-y: scroll;
      position: fixed;
      top: var(--header-collapsed-height);
      height: calc(100vh - var(--header-collapsed-height) - var(--gap));
      width: var(--toc-width);
      margin: var(--gap);
      padding-right: 8px;

      @media (prefers-reduced-motion: no-preference) {
        scroll-behavior: smooth;
      }

      border-right: 1px solid var(--bg2-color);
    }

    nav.toc.is-resizing {
      border-right-color: var(--fg-color);
    }

    .title-and-info,
    main {
      margin-left: var(--gap);
    }

    .title-and-info {
      padding: var(--gap);
      grid-row: 1;
      grid-column: 2;
    }

    main {
      padding: var(--gap);
      grid-row: 2;
      grid-column: 2;
    }
  }
}

body.pdf .pdf-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

body.pdf .pdf-container .content {
  grid-column: 1 / 3;
}

body.pdf .container {
  padding-top: var(--header-collapsed-height);
}

@media (min-width: 1000px) {
  body.pdf .pdf-container {
    grid-template-columns: 1fr 80% 1fr;
    gap: 32px;
  }

  body.pdf .pdf-container .content {
    grid-row: 1;
    grid-column: 2;
  }

  body.pdf .pdf-container .prev {
    grid-row: 1;
    grid-column: 1;
  }

  body.pdf .pdf-container .next {
    grid-row: 1;
    grid-column: 3;
  }
}

body.search {
  .container {
    padding: 16px;
  }

  .beta-warning {
    text-align: center;
    font-size: var(--font-size-small);
    @include user-select(none);
  }

  .search-container {
    .results {
      min-height: 400px;
    }

    .search {
      height: 48px;
    }

    @media (min-width: 1000px) {
      & {
        margin: var(--header-collapsed-height) auto 0 auto;
        width: var(--main-width);
      }
    }
  }
}
