body.literate {
  --code-gutter-width: 4rem;
}

body.literate .body pre:has(.code-row) {
  padding: 0;
  overflow-x: auto;
  overscroll-behavior-x: none;
  background: var(--bg2-color);
  border-radius: var(--mono-border-radius);
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  code {
    padding-right: var(--gap);
  }

  *:first-child {
    .line-number,
    code {
      padding-top: 0.5rem;
    }
  }

  *:last-child {
    .line-number,
    code {
      padding-bottom: 0.5rem;
    }
  }
}

body.literate .literate-code-output {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap);

  > pre {
    margin-top: 0;
  }

  > pre:last-child {
    white-space: pre-wrap;
  }

  @media (width < 924px) {
    > pre:first-child {
      margin-bottom: 0;
    }

    > pre:last-child::before {
      display: block;
      font-size: var(--font-size-small);
      font-style: italic;
      color: var(--fg2-color);
      content: 'Output';
    }
  }

  @media (width >= 924px) {
    grid-template-columns: 1fr 1fr;
    align-items: start;

    > pre:last-child {
      min-width: 150px;
    }
  }
}
