:root {
  --print-font-size: 16px;
}

@media print {
  html,
  body,
  main,
  section {
    background: none !important;
  }

  main {
    padding-top: 0;
  }

  hr::after {
    content: '* * *' !important;
  }

  hr {
    background: none !important;
    height: auto !important;
    margin: 32px !important;
    padding: 0 !important;
  }

  header {
    display: none !important;
  }

  .toc {
    display: none;
  }

  main {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: var(--print-font-size);
    color: #000;
  }

  body .container {
    display: block !important;
  }

  pre {
    font-size: var(--print-font-size);
    border: none;
    padding: 0;
  }

  .footnotes {
    break-inside: avoid;
  }

  a.footnote-ref {
    text-decoration: none;
  }

  .footnote-backref {
    display: none !important;
  }

  .alert {
    break-inside: avoid;
  }

  main .alert {
    box-shadow: none;
    left: 0;
  }

  main details {
    border: 2px dotted #000;
  }

  main details .alert {
    border: none;
    padding: 0;
  }

  section {
    border: 2px solid lightgray;
  }

  .heading-anchor {
    display: none;
  }

  .back-to-top {
    display: none;
  }

  a.external::after {
    display: none;
  }

  a {
    text-decoration: underline;
  }
}
